<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>Document</title>
  <script>
	var ftb,tlen;
	window.onload=function(){
		ftb = document.getElementById("ftb");
		tlen = ftb.rows.length-2;
		myform.nameflag[0].checked=true;
		
		for(i=5;i<tlen;i++){
			ftb.rows[i].style.display="none";
		}
		
	}
	
	function nflagchange(thisa){
		if(thisa.value==0){
			for(i=5;i<tlen;i++){
				ftb.rows[i].style.display="none";
			}
		}else{
			ftb.rows[5].style.display="";
			//ftb.rows[6].style.display="";
			ntypeChange();
		}
	}
	/*
	function ntypeChange(){
		if (myform.nametype[0].checked)
		{
			ftb.rows[6].style.display="none";
			ftb.rows[7].style.display="none";
			ftb.rows[8].style.display="";
			ftb.rows[9].style.display="";
		}else{
			ftb.rows[6].style.display="none";
			ftb.rows[7].style.display="none";
			ftb.rows[8].style.display="none";
			ftb.rows[9].style.display="none";
		}
	}
	*/
	//消除前后空格
	function str_trim(str){
		if (!String.prototype.trim) {
		  String.prototype.trim = function() {
			return str.replace(/^[\s\uFEFF]+|[\s\uFEFF]+$/g, '');
		  };
		}
		var trimmedStr = str.trim();
		return trimmedStr;
	}

	function onsub(){
		if (str_trim(myform.pagenum.value)=='')
		{
			alert('请填写页号');
			myform.pagenum.focus();
			return false;
		}else if(str_trim(myform.pagepic.value)=='')
		{
			alert('请选择绘本原图');
			myform.pagepic.focus();
			return false;
		}
		return true;
	}

	function delbookpic(picid,nameflag,nametype){
		if (confirm("确定删除吗？"))
		{
			location.href="../delbookpic/?picid={{ item.0 }}&pbid={{pbid}}&bookname={{bookname}}&picid="+picid+"&nameflag="+nameflag+"&nametype="+nametype;
		}
	}
  </script>
 </head>
 <body>
  <table border="1" align="center" width="80%">
  <tr>
	<td colspan="2" align="center">后台管理</td>
  </tr>
  <tr>
	<td width="20%" align="right" valign="top">
		{% include "manage/left_tree.html" %}
	</td>
	<td>
	<!-- 中间 -->
		<!--<a href="#">创建绘本</a>-->
		<br/>
		<center>{{bookname}}</center>
		<br/>
		<form name="myform" action="../addpic/" method="post" enctype="multipart/form-data" onsubmit="return onsub();">
			<table border="1" align="center" id="ftb">
				<tr>
					<td align="right">页号:</td>
					<td><input type="text" name="pagenum"></td>
				</tr>
				<tr>
					<td align="right">绘本原图300:</td>
					<td><input type="file" name="pagepic300"></td>
				</tr>
				<tr>
					<td align="right">绘本底图300:</td>
					<td><input type="file" name="blankpic300"></td>
				</tr>
				<tr>
					<td align="right">是否需要换头像:</td>
					<td><input type="radio" name="pflag" value="0" checked>不需要&nbsp;<input type="radio" name="pflag" value="1">需要</td>
				</tr>
				<tr>
					<td align="right">是否含动态字:</td>
					<td><input type="radio" name="nameflag" value="0" checked onchange="nflagchange(this)">不含&nbsp;<input type="radio" name="nameflag" value="1" onchange="nflagchange(this)">含有</td>
				</tr>
				<tr>
					<td align="right">动态类型:</td>
					<td><input type="radio" name="nametype" value="0" checked>单行纯文字&nbsp;
					<!--<input type="radio" name="nametype" value="1" onchange="ntypeChange()">图像左右夹名字&nbsp;<input type="radio" name="nametype" value="2" onchange="ntypeChange()">寄语(名字+内容)-->
					<input type="radio" name="nametype" value="1">双行纯文字&nbsp;
					<input type="radio" name="nametype" value="2">多行纯文字&nbsp;
					<input type="radio" name="nametype" value="3">单弧文字&nbsp;
					<input type="radio" name="nametype" value="4">双弧文字
					</td>
				</tr>
				<!--
				<tr>
					<td align="right">左侧文字图片:</td>
					<td><input type="file" name="leftpic"></td>
				</tr>
				<tr>
					<td align="right">右侧文字图片:</td>
					<td><input type="file" name="rightpic"></td>
				</tr>
				<tr>
					<td align="right">左侧文字:</td>
					<td><input type="text" name="leftwords" value=""></td>
				</tr>
				<tr>
					<td align="right">右侧文字:</td>
					<td><input type="text" name="rightwords" value=""></td>
				</tr>
				-->
				<tr>
					<td align="right">是否默认页:</td>
					<td>
						<input type="radio" name="defflag" value='0' checked>是&nbsp;
						<input type="radio" name="defflag" value='1'>不是
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
						{% csrf_token %}
						<input type="hidden" name="pbid" value="{{pbid}}">
						<input type="hidden" name="bookname" value="{{bookname}}">
						<input type="submit" value="新增绘本页">
					</td>
				</tr>
			</table>
		</form>
		<br/>
		<table align="center" border="1" width="80%">
			<tr>
				<td>页号</td><td>绘本页</td><td>是否换头像</td><td>含有动态字</t>
<td>删除</td><td>文字设置</td>			</tr>
			{% for item in picrs %}
			<tr>
				<td>{{ item.1 }}</td><td><img src='../../{{ item.2 }}' width='160' height='80'></td>
				<td>
					{% if item.3 == 0 %}
						不换
					{% else %}
						换
					{% endif %}
				</td>
				<td>
					{% if item.4 == 0 %}
						不含
					{% else %}
						含有
					{% endif %}
				</td>
				<td><a href="javascript:delbookpic({{item.0}},{{item.3}},{{item.4}})">删除</a></td>
				<td>
					{% if item.4 == 1 %}
					<a href="../wordpos/?picid={{item.0}}&pbid={{pbid}}&bookname={{bookname}}&vflag=1" target="_blank">72图文字设置</a>
					<p>
					<a href="../wordpos/?picid={{item.0}}&pbid={{pbid}}&bookname={{bookname}}&vflag=0" target="_blank">300图文字设置</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		<br/>
		<!-- -->
	</td>
  </tr>
  </table>
 </body>
</html>
